.box2 {
  display: block;
  background-color: #39CCCC;
  width: 490px;
  height: 70px;
  padding-left: 10px;
  padding-top: 10px;
  border-top: 8px solid #001f3f;
  min-width: 790px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-radius: 6px;
}
.img {
  display: block;
  height: 400px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  border-radius: 6px;
}

